#errors {
	min-height: 3em;
	max-height: 8em;
	overflow: auto;
	color: red;
}
#errors label {
	cursor: pointer;
}
#internal-code {
	font-family: monospace;
	margin-bottom: 0;
}
.findbar-closebutton, .findbar-highlight, *[anonid="find-case-sensitive"] {
	display: none;
}
#findbar {
	border-top: 0;
}
#editor-tools {
	margin-top: 3px;
	padding-top: 2px;
}
.devtools-horizontal-splitter {
	/* Overriding global.css */
	height: 3px !important;
}
.devtools-textinput {
	padding: 0 2px;
}
.devtools-toolbarbutton {
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.3);
}
